/* Desktop Resolution */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

#div-modal-filter {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#button-modal-filter-close {
    position: fixed;
    top: 9%;
    right: 20%;
    padding: 20px;
    background-color: transparent;
    border-style: none;
}

#div-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 80%;
    background-color: #AD3C6E;
}

.div-modal-row {
    display: flex;
    max-width: 100%;
    padding-left: 10%;
}

.p-modal-select {
    color: #fff;
}

.div-modal-select {
    max-width: 50%;
}

.select-modal {
    background-color: #DC9CB8;
    border-style: none;
    color: #fff;
    padding: 16px;
    padding-right: 100px;
    border-radius: 6px;
}

#div-modal-checkboxs {
    padding-left: 10%;
    padding-right: 10%;
}

#p-modal-checkboxs {
    color: #fff;
}

#div-modal-checkbox {
    display: flex;
    justify-content: space-between;
}

.div-modal-input-checkbox {
    width: 33.33%;
}

.label-modal-checkbox {
    color: #fff;
}

#div-modal-button-filter {
    display: flex;
    justify-content: center;
}

#button-modal-filter {
    width: 80%;
    height: 50px;
    border-style: none;
    border-radius: 6px;
    color: #fff;
    background-color: #DC9CB8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

#div-carousel {
    padding: 10px;
    margin-top: 30px;
    min-width: 80%;
}

.carousel-inner>.carousel-item>img {
    min-width: 60%;
    height: 460px;
}

#div-filter {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 40px;
}

#input-filter-name-bar {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background-color: #DC9CB8;
    color: #fff;
    border-style: none;
}

#input-filter-name-bar::placeholder {
    color: #fff;
}

#input-filter-name-bar:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

#button-search {
    min-width: 60px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #DC9CB8;
    border-style: none;
    color: #fff;
}

#button-search:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

#button-search:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

#button-search:active {
    background-color: #AD3C6E;
}

#button-filter {
    min-width: 60px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #DC9CB8;
    border-style: none;
    color: #fff;
}

#button-filter:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

#button-filter:active {
    background-color: #AD3C6E;
}

#div-items {
    margin-top: 6px;
    width: 90%;
}

#div-item-none {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 20px;
    color: #AD3C6E;
}

.div-item {
    display: flex;
    background-color: #DC9CB8;
    border-radius: 4px;
    margin-top: 14px;
}

.div-item-mobile-star {
    display: none;
}

.div-item-img {
    padding: 10px;
    max-width: 24%;
}

.div-item-img>img {
    max-width: 100%;
    height: 220px;
}

.div-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}

.p-item-title {
    font-size: 30px;
    color: #fff;
}

.p-item-address {
    font-size: 30px;
    color: #fff;
}

.p-item-coment-title {
    font-size: 26px;
    color: #fff;
}

.p-item-coment-text {
    font-size: 22px;
    color: #fff;
}

.div-item-star {
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
    min-width: 130px;
}

.div-item-star>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    min-width: 100%;
}

/* Mobile Resolution */

@media screen and (max-width: 900px) {
    .div-item {
        flex-direction: column;
    }

    .div-item-img {
        padding: 10px;
        max-width: 100%;
    }

    .div-item-mobile-star {
        display: inline;
        color: #fff;
        margin-bottom: 10px;
    }

    .div-item-star {
        display: none;
    }
}